{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<script>window.location.assign("/")</script>
{% endif %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
    </div>
    <div class="fieldWrapper">
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
    </div>
    {{ form.non_field_errors }}
    <button type="submit">Login</button>
</form>
</div>
{% endblock %}