<ul class="list-group list-group-flush">
    {% for comment in changelog.comment.all %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-2">
                Display Profile Pic + Name
            </div>
            <div class="col-10">
                {{comment.comment}}
                {{comment.created_on}}
            </div>
        </div>
    </li>
    {% endfor %}
    <li class="list-group-item">
        <form method="post" action="{% url 'curriculum_comment_create' c_id=changelog.id %}">
            {% csrf_token %}
            <input type="text" name="comment" />
            <input type="submit" value="Comment">
        </form>
    </li>
</ul>
