<div class="row mb-2">

    <article class="card w-100">
        <div class="card-header">
            <div class="container">
                <div class="row">
                    <div class="col-2 col-sm-1 text-center align-self-center p-0">
                        <img height="48px" width="48px" class="rounded-circle mt-auto"
                            src="{{changelog.member.image.url }}" />

                    </div>
                    <div class="col-10 col-sm-11">
                        <h4>{{ changelog.member.full_name}}</h4>
                        {{changelog.created_on}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-4">

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span class="badge badge-pill badge-secondary">{{ changelog.member.designation }}</span>
                        <span class="badge badge-pill badge-secondary">{{ changelog.member.institution }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {% if changelog.bit %}
                Curriculum {{changelog.bit.curriculum.title}} Updated - [Updated / Created] {{changelog.bit.bit_type}}
                {% else %}
                Curriculum {{changelog.curriculum.title}} [Updated / Created]
                {% endif %}
            </h5>

            <p class="card-text" {{changelog.curriculum.description }}>
                {{changelog.description}}
            </p>
            <div class="row align-items-end">
                <div class="col-8">
                    <a href="#" class="btn btn-sm btn-secondary">
                        Upvotes <span class="badge badge-light d-inline">99</span>
                    </a>
                    <a href="#" class="btn btn-sm btn-secondary">
                        Comments <span class="badge badge-light d-inline">99</span>
                    </a>
                </div>
                <div class="ml-auto col-4 text-right">
                    {% if changelog.bit %}
                    <a href="{% url 'bit_show' c_id=changelog.bit.curriculum.id b_id=changelog.bit.id %}" class="btn btn-primary">Go</a>
                    {% else %}
                    <a href="{% url 'curriculum_show' c_id=changelog.curriculum.id %}" class="btn btn-primary">Go</a>
                    {% endif %}
                </div>
            </div>

            
        </div>
    </article>
</div>