{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="row">
                {% include "feeds/_profile.html" %}
            </div>
            <div class="row">
                {% include "feeds/_suggestions.html" %}
            </div>
        </div>
        <div class="col-8">
            {% for changelog in changelogs %}
            {% include "feeds/_feed.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
