{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Explore</h2>
        </div>
    </div>
    <div class="row component-explore">
        <div class="col-4">
            <div class="list-group" id="list-fields" role="tablist">
                {% for field in fields %}
                <a class="list-group-item list-group-item-action field-buttons" id="list-field-{{field.id}}" data-toggle="list"
                    href="#field-{{field.id}}" role="tab" aria-controls="home">{{field.title}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="tab-content" id="nav-tabContent">
                {% for field in fields %}
                <div class="tab-pane fade" id="field-{{field.id}}" role="tabpanel"
                    aria-labelledby="list-field-{{field.id}}">
                    <div class="list-group" id="list-tab" role="tablist">
                        {% for topic in field.topic.all %}
                        <a class="list-group-item list-group-item-action topic-list-item"
                            id="list-field-{{field.id}}-topic-{{topic.id}}" data-toggle="list"
                            href="#list-field-{{field.id}}-topic-{{topic.id}}-subjects" role="tab"
                            aria-controls="home">{{topic.title}}</a>
                        {% endfor %}

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="tab-content" id="nav-tabContent">
                {% for field in fields %}
                {% for topic in field.topic.all %}
                <div class="tab-pane fade subject-list" id="list-field-{{field.id}}-topic-{{topic.id}}-subjects" role="tabpanel"
                    aria-labelledby="list-field-{{field.id}}-topic-{{topic.id}}">
                    <ul class="list-group">
                        {% for subject in topic.subject.all %}
                        <a href= "/#TODO" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                          {{subject}}
                          <span class="badge badge-primary badge-pill">99</span>
                        </a>
                        {% endfor %}
                      </ul>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
