{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <aside>
                    <h4>John Doe</h4>
                    <p>Personal Information.</p>
                </aside>
            </div>
            <div class="row">
                <aside>
                    <h4>Suggestions</h4>
                    <p>List Of Suggestions.</p>
                </aside>
            </div>
        </div>
        <div class="col-8">
            {% for changelog in changelogs %}
            <div class="row mb-2">
                <article class="card w-100">
                    <h5 class="card-header">{{changelog.description}}</h5>
                    <div class="card-body">
                        {{changelog.description}}
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>

        <!-- Referrer page will be reloaded -->
        <!-- changelog followed by id -->
        <form method="post" action="/comment/changelog/1">
            {% csrf_token %}
            <input type="text" name="comment"/>
            <input type="submit" value="Comment">
        </form>

        <!-- bit followed by id -->
        <form method="post" action="/comment/bit/1">
            {% csrf_token %}
            <input type="text" name="comment"/>
            <input type="submit" value="Comment">
        </form>

        <!-- curriculum followed by id -->
        <form method="post" action="/comment/curriculum/1">
            {% csrf_token %}
            <input type="text" name="comment"/>
            <input type="submit" value="Comment">
        </form>

    </div>
</div>
{% endblock %}
