{% extends 'base.html' %}
{% load static %}
 {% block content %}
    <div class="site-blocks-cover" id="home-section">
      <div class="img-wrap">
          <div class="slide overlay">
            <img src="{% static 'images/Books.jpg' %}" alt="Image" class="img-fluid">  
          </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 align-self-center">
            <div class="intro">
              <div class="heading">
                <h1>Education Made Easy</h1>
              </div>
              <div class="text">
                <p class="sub-text mb-5">A collaboration platform for teachers everywhere.</p>
                <p>
                  <a href="/accounts/login/" class="btn btn-primary btn-md">Login</a>
                  <a href="/signup/" class="btn btn-primary btn-clear btn-md">Signup</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END .site-blocks-cover -->

    

    <div class="site-section" id="about-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5">
            <img src="{% static 'images/w_collab.jpeg' %}" alt="Image" class="img-fluid" class="img-fluid">
          </div>
          <div class="col-lg-5 ml-auto section-title">
            <span class="sub-title mb-2 d-block">About Us</span>
            <h2 class="title text-primary mb-3">Share your knowledge</h2>
            <p class="mb-4">Because sharing is caring. Mama I just killed a man. Put a gun against his head, pulled my trigger now he is dead.</p>


            <div class="d-flex">
              <ul class="list-unstyled ul-check success mr-5">
                <li>Privacy</li>
                <li>Lecture 2 topic</li>
                <li>Lecture 4 topic</li>
                <li>Secure</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .END site-section -->

    <div class="site-section bg-light" id="what-we-do-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-6 section-title">
            <span class="sub-title mb-2 d-block">Another About Us</span>
            <h2 class="title text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 ml-auto">
            <div class="row">
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="service h-100">
                  <span class="icon-photo_album display-4 text-primary d-block mb-4"></span>
                  <h3>Privacy</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nostrum ducimus temporibus, quod ipsa fuga fugiat deserunt.</p>
                  <p><a href="#" class="readmore">Learn more</a></p>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="service h-100">
                  <span class="icon-laptop_mac display-4 text-primary d-block mb-4"></span>
                  <h3>Content Sharing</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nostrum ducimus temporibus, quod ipsa fuga fugiat deserunt.</p>
                  <p><a href="#" class="readmore">Learn more</a></p>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="service h-100">
                  <span class="icon-layers display-4 text-primary d-block mb-4"></span>
                  <h3>Feature 1</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nostrum ducimus temporibus, quod ipsa fuga fugiat deserunt.</p>
                  <p><a href="#" class="readmore">Learn more</a></p>
                </div>
              </div>
    
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="service h-100">
                  <span class="icon-mobile display-4 text-primary d-block mb-4"></span>
                  <h3>Feature 2</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nostrum ducimus temporibus, quod ipsa fuga fugiat deserunt.</p>
                  <p><a href="#" class="readmore">Learn more</a></p>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="service h-100">
                  <span class="icon-pencil display-4 text-primary d-block mb-4"></span>
                  <h3>Feature 3</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nostrum ducimus temporibus, quod ipsa fuga fugiat deserunt.</p>
                  <p><a href="#" class="readmore">Learn more</a></p>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="service h-100">
                  <span class="icon-search2 display-4 text-primary d-block mb-4"></span>
                  <h3>More Awesome Feature</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nostrum ducimus temporibus, quod ipsa fuga fugiat deserunt.</p>
                  <p><a href="#" class="readmore">Learn more</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END .site-section -->

  
    <footer class="site-footer">
      <div class="container" id="group-footer">
        <div class="row">
          <div class="col-lg-9 mb-5 mb-lg-0">
            <div class="row mb-5">
              <div class="col-9">
                <h3 class="footer-heading mb-4">Project Details</h3>
                <p>This project is implemented by Group 16 of The Social Web course.</p>
              </div>
            </div>
            

            
          </div>
          <div class="col-lg-3 ml-auto">
           
            <div class="row mb-5">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Group Members</h3>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li>Leonard Herold</li>
                  <li>Shivam Kapoor</li>
                  <li>Senai</li>
                  <li>Sophie</li>
                </ul>
              </div>
              
            </div>
            
          </div>
          

          
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
        
            
          <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved
          </p>
          
          </div>
          
        </div>
      </div>
    </footer>
{% endblock %}