{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <div class="container">
    <h4>User Info Goes Here</h4>
    <div>
        {{user}}
    </div>
    <div>
        {{user.email}}
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="main-left-sidebar">
                <div class="user-profile">
                    <img class="user-pro-img" src="{% static 'images/default-profile.jpg' %}">
                    <div class="user-pro-status">
                        <div>Asst. Professor</div>
                        <div class="user-pro-uni"><b>University of Amsterdam</b></div>
                    </div>
                    <div class="user-pro-email">
                        mail@email
                    </div>
                </div>
                

            </div>
        </div>
        <div class="col-lg-9">

        </div>
    </div>
</div>
{% endblock %}