{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="main-left-sidebar">
                <div class="user-profile">
                    <img class="user-pro-img" src="{% static 'images/default-profile.jpg' %}">
                    <div class="user-pro-status">
                        <div>{{member.designation}}</div>
                        <div class="user-pro-uni"><b>{{member.institution}}</b></div>
                    </div>
                    <div class="user-pro-email">
                        {{member.email}}
                    </div>
                </div>
                

            </div>
        </div>
        <div class="col-lg-9">
            {{member}}
        </div>
    </div>
</div>
{% endblock %}