{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="main-left-sidebar">
                <div class="user-profile">
                    <img class="user-pro-img" src="{% static 'images/default-profile.jpg' %}">
                    <div class="user-pro-status">
                        <div>{{member.designation}}</div>
                        <div class="user-pro-uni"><b>{{member.institution}}</b></div>
                    </div>
                    <div class="user-pro-email">
                        {{member.email}}
                    </div>
                </div>
                

            </div>
        </div>
        <div class="col-lg-9">
            <div><b>{{name}}'s Activity</b></div>
            <div>
                {% if my_profile %}
                    <span class="btn">Edit Profile</span>
                {% endif %}
            </div>
            {% for c in c_list %}
                <div>
                    <br><br>
                Title: {{c.title}}
                Desc: {{c.description}}
                {{c.created_on}}
                {{c.last_modified}}
                {% for b in c.b_list %}
                    <div>
                    {{b.title}}
                    {{b.description}}
                    </div>
                    <div>
                        Like count: {{b.likes}}
                        Comment Count: {{b.comments}}
                    </div>
                {% endfor %}
                </div>                
			{% endfor %}
        </div>
    </div>
</div>
{% endblock %}