{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Explore</h2>
        </div>
    </div>
    <div class="row">
        <form class="form-inline col-12">
            <input class="form-control col-10" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark col-2" type="submit">Search</button>
        </form>
    </div>
    <div class="row w-100">
        <ul class="list-group list-group-flush w-100 d-block">
            {% for curriculum in subject.curriculum.all %}
            <li class="list-group-item">{{curriculum.title}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
